# Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import matplotlib.pyplot as plt
#import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pickle
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm

# Importing Data from "SWELL" Dataset.

In [ ]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
print('all good')

all good

In [ ]:
train

,MEAN_RR,MEDIAN_RR,SDRR,RMSSD,SDSD,SDRR_RMSSD,HR,pNN25,pNN50,SD1,...,HF,HF_PCT,HF_NU,TP,LF_HF,HF_LF,sampen,higuci,datasetId,condition
0,885.157845,853.763730,140.972741,15.554505,15.553371,9.063146,69.499952,11.133333,0.533333,11.001565,...,15.522603,0.421047,1.514737,3686.666157,65.018055,0.015380,2.139754,1.163485,2,no stress
1,939.425371,948.357865,81.317742,12.964439,12.964195,6.272369,64.363150,5.600000,0.000000,9.170129,...,2.108525,0.070133,0.304603,3006.487251,327.296635,0.003055,2.174499,1.084711,2,interruption
2,898.186047,907.006860,84.497236,16.305279,16.305274,5.182201,67.450066,13.066667,0.200000,11.533417,...,13.769729,0.512671,1.049528,2685.879461,94.280910,0.010607,2.135350,1.176315,2,interruption
3,881.757865,893.460030,90.370537,15.720468,15.720068,5.748591,68.809562,11.800000,0.133333,11.119476,...,18.181913,0.529387,1.775294,3434.520980,55.328701,0.018074,2.178341,1.179688,2,no stress
4,809.625331,811.184865,62.766242,19.213819,19.213657,3.266724,74.565728,20.200000,0.200000,13.590641,...,48.215822,1.839473,3.279993,2621.175204,29.487873,0.033912,2.221121,1.249612,2,no stress
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369284,721.396910,721.533965,36.377559,9.609941,9.609936,3.785409,83.384647,0.933333,0.000000,6.797519,...,38.227175,5.886975,10.880317,649.351702,8.190908,0.122087,2.096850,1.314910,2,no stress
369285,984.266492,978.622945,74.918433,13.762274,13.761705,5.443754,61.314243,6.333333,0.200000,9.734243,...,2.573834,0.112964,0.357547,2278.456746,278.683532,0.003588,2.131264,1.175975,2,no stress
369286,1025.499743,1024.968400,95.309200,23.051254,23.050395,4.134664,59.028594,30.400000,2.066667,16.304530,...,4.287216,0.098983,0.180070,4331.259564,554.340761,0.001804,2.215643,1.140232,2,no stress
369287,798.123167,803.559610,78.449897,16.736686,16.736657,4.687302,75.978628,10.000000,1.466667,11.838553,...,46.636158,1.591647,3.522995,2930.056129,27.384942,0.036516,2.091628,1.181937,2,no stress
369288,814.428911,815.178790,67.697387,20.649551,20.649546,3.278395,74.197905,23.400000,0.533333,14.606307,...,60.596026,1.907159,3.438658,3177.292709,28.081116,0.035611,2.208193,1.234087,2,no stress

In [ ]:
test

,MEAN_RR,MEDIAN_RR,SDRR,RMSSD,SDSD,SDRR_RMSSD,HR,pNN25,pNN50,SD1,...,HF,HF_PCT,HF_NU,TP,LF_HF,HF_LF,sampen,higuci,datasetId,condition
0,721.901897,727.267280,74.722315,12.361264,12.361069,6.044877,84.121868,4.933333,0.000000,8.743513,...,66.617057,3.921868,9.760289,1698.605390,9.245599,0.108160,2.097342,1.243696,2,no stress
1,843.538633,844.407930,58.499429,19.298880,19.298795,3.031234,71.478642,21.000000,0.200000,13.650863,...,26.500086,1.123416,1.663151,2358.884694,59.126832,0.016913,2.217275,1.250056,2,time pressure
2,958.523868,966.671125,132.849110,21.342715,21.342653,6.224565,63.874293,24.133333,1.800000,15.096571,...,16.024935,0.370208,0.766416,4328.633724,129.477524,0.007723,2.217136,1.144943,2,no stress
3,824.838669,842.485905,117.822094,11.771814,11.771248,10.008830,74.330531,4.733333,0.533333,8.326307,...,17.581470,0.615932,3.358652,2854.449091,28.773854,0.034754,2.106863,1.142355,2,no stress
4,756.707933,747.941620,143.968457,13.357748,13.356388,10.777899,82.092049,5.933333,0.666667,9.447545,...,35.199054,0.662879,6.292253,5310.027472,14.892559,0.067148,1.912191,1.128098,2,interruption
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41028,1118.406543,1117.857050,113.955632,18.592177,18.592071,6.129225,54.234182,18.800000,0.266667,13.150967,...,0.347514,0.006813,0.035830,5100.718213,2789.962965,0.000358,2.183460,1.082927,2,time pressure
41029,855.991173,765.221410,296.763366,20.623727,20.610745,14.389415,76.416971,15.733333,3.533333,14.578861,...,118.014128,1.383097,8.622919,8532.599635,10.597001,0.094366,1.695327,1.154370,2,interruption
41030,689.388662,663.192770,133.815714,21.699038,21.696138,6.166896,90.254005,13.933333,4.000000,15.346606,...,216.200973,3.559302,10.160405,6074.251632,8.842128,0.113095,2.078000,1.214869,2,no stress
41031,761.421571,761.064590,60.792671,11.280586,11.280573,5.389141,79.313782,2.733333,0.266667,7.979232,...,41.797177,3.124367,6.905613,1337.780773,13.480973,0.074179,2.191379,1.234546,2,no stress
41032,868.040461,873.048735,61.301652,11.781442,11.781440,5.203239,69.484061,3.733333,0.000000,8.333516,...,9.748285,0.580832,1.408066,1678.332700,70.019404,0.014282,2.143131,1.142660,2,time pressure

In [ ]:
train['condition'].unique()

array(['no stress', 'interruption', 'time pressure'], dtype=object)

In [ ]:
conditions = dict(train['condition'].value_counts())
labels = list(conditions.keys())
counts = list(conditions.values())
# plt.bar(labels,counts, color ='green',
#         width = 0.4)

In [ ]:
conditions

{'no stress': 200082, 'interruption': 105150, 'time pressure': 64057}

In [ ]:
labels

['no stress', 'interruption', 'time pressure']

In [ ]:
counts

[200082, 105150, 64057]

In [ ]:
train['condition'][0:20]

0         no stress
1      interruption
2      interruption
3         no stress
4         no stress
5         no stress
6         no stress
7         no stress
8      interruption
9         no stress
10    time pressure
11        no stress
12        no stress
13     interruption
14        no stress
15        no stress
16        no stress
17        no stress
18    time pressure
19     interruption
Name: condition, dtype: object

# Encoding classification labels in "Condition" column

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(train['condition'])
train['condition'] = le.transform(train['condition'])
test['condition'] = le.transform(test['condition'])
train['condition'][0:20]

0     1
1     0
2     0
3     1
4     1
5     1
6     1
7     1
8     0
9     1
10    2
11    1
12    1
13    0
14    1
15    1
16    1
17    1
18    2
19    0
Name: condition, dtype: int64

# Analysing Data using Pandas Profiling

In [ ]:
# profile = pd.ProfileReport(train)
# #profile.to_file("output.html")
# print('all good')

# Plotting Pearson's Correlation Matrix to check dependency of variables

In [ ]:
# plt.figure(figsize=(12,10))
corr = train.corr()
#sns.heatmap(corr, annot=False, cmap=plt.cm.Reds)
#plt.show()

# Defining a feature selection function

This function selects features which have a positive pearson's correlation with "condition" column of data. A suitable threshold is set for selcting such features.

In [ ]:
def feature_selection(correlation,threshold):
    selected_features = []
    for i in range(corr.shape[0]):
      if corr.iloc[i,35] > threshold:
        selected_features.append(train.iloc[:,i])
    return pd.DataFrame(selected_features).T

corr.shape

(36, 36)

In [ ]:
CORRELATION_THRESHOLD = 0.1
reduced_train = feature_selection(corr,CORRELATION_THRESHOLD)

In [ ]:
reduced_train

,MEAN_RR,MEDIAN_RR,SDRR_RMSSD,MEDIAN_REL_RR,SDRR_RMSSD_REL_RR,VLF,VLF_PCT,condition
0,885.157845,853.763730,9.063146,-0.000179,2.143342,2661.894136,72.203287,1.0
1,939.425371,948.357865,6.272369,0.000611,2.930855,2314.265450,76.975728,0.0
2,898.186047,907.006860,5.182201,-0.000263,2.127053,1373.887112,51.152225,0.0
3,881.757865,893.460030,5.748591,0.000494,2.050988,2410.357408,70.180308,1.0
4,809.625331,811.184865,3.266724,-0.002736,1.816544,1151.177330,43.918366,1.0
...,...,...,...,...,...,...,...,...
369284,721.396910,721.533965,3.785409,0.000083,1.529068,298.009244,45.893349,1.0
369285,984.266492,978.622945,5.443754,0.000046,2.218313,1558.597883,68.405858,1.0
369286,1025.499743,1024.968400,4.134664,-0.002236,2.391601,1950.393956,45.030641,1.0
369287,798.123167,803.559610,4.687302,-0.001354,1.894304,1606.291482,54.821185,1.0
369288,814.428911,815.178790,3.278395,-0.002479,1.876939,1415.092653,44.537686,1.0

# Plotting some of the extracted features

In [ ]:
# fig, axarr = plt.subplots(2, 2, figsize=(15, 9))
# reduced_train['MEAN_RR'][:70].plot(ax=axarr[0][0])
# reduced_train['MEDIAN_RR'][:70].plot(ax=axarr[1][0])
# reduced_train['MEDIAN_REL_RR'][:70].plot(ax=axarr[0][1])
# reduced_train['SDRR_RMSSD_REL_RR'][:70].plot(ax=axarr[1][1])
# axarr[0][0].set_title("Mean_RR")
# axarr[0][1].set_title("Median_RR")
# axarr[1][0].set_title("Median_Rel_RR")
# axarr[1][1].set_title("SDRR_RMSSD_REL_RR")
# plt.subplots_adjust(hspace=.3)
# plt.show()

In [ ]:
# reduced_train[['MEAN_RR','MEDIAN_RR']][:70].plot()

# Splitting data into features and respective labels

In [ ]:
X_train = reduced_train.iloc[:,:-1]
y_train = reduced_train.iloc[:,-1]

In [ ]:
X_test = test[X_train.columns]
y_test = test['condition']

In [ ]:
# X_train.head()

In [ ]:
X_test.head()

,MEAN_RR,MEDIAN_RR,SDRR_RMSSD,MEDIAN_REL_RR,SDRR_RMSSD_REL_RR,VLF,VLF_PCT
0,721.901897,727.267280,6.044877,-0.000951,1.570800,1016.073759,59.818117
1,843.538633,844.407930,3.031234,-0.001543,1.918953,765.518473,32.452560
2,958.523868,966.671125,6.224565,-0.002000,2.298473,2237.739905,51.696218
3,824.838669,842.485905,10.008830,0.000445,2.116033,2330.980957,81.661325
4,756.707933,747.941620,10.777899,-0.000170,1.681034,4750.624447,89.465158

#kfold cross validation

In [ ]:
from sklearn.model_selection import KFold
X = pd.concat([X_train,X_test]).reset_index()
Y = pd.concat([y_train,y_test]).reset_index()
splits = 5 
cv = KFold(splits)
X.head()

,index,MEAN_RR,MEDIAN_RR,SDRR_RMSSD,MEDIAN_REL_RR,SDRR_RMSSD_REL_RR,VLF,VLF_PCT
0,0,885.157845,853.763730,9.063146,-0.000179,2.143342,2661.894136,72.203287
1,1,939.425371,948.357865,6.272369,0.000611,2.930855,2314.265450,76.975728
2,2,898.186047,907.006860,5.182201,-0.000263,2.127053,1373.887112,51.152225
3,3,881.757865,893.460030,5.748591,0.000494,2.050988,2410.357408,70.180308
4,4,809.625331,811.184865,3.266724,-0.002736,1.816544,1151.177330,43.918366

defining models

In [ ]:
KNN1 = KNeighborsClassifier(n_neighbors=1)
KNN2 = KNeighborsClassifier(n_neighbors=2)
KNN3 = KNeighborsClassifier(n_neighbors=3)
KNN4 = KNeighborsClassifier(n_neighbors=4)
KNN5 = KNeighborsClassifier(n_neighbors=5)
KNN6 = KNeighborsClassifier(n_neighbors=6)
KNN7 = KNeighborsClassifier(n_neighbors=7)
KNN8 = KNeighborsClassifier(n_neighbors=8)
KNN9 = KNeighborsClassifier(n_neighbors=9)
KNN10 = KNeighborsClassifier(n_neighbors=10)


# RFC2 = RandomForestClassifier(n_estimators=50,random_state=1)
# LG  = LogisticRegression(random_state=0)
# RFC1 = RandomForestClassifier()
# MLP = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)

knn1_score =[]
knn2_score =[]
knn3_score =[]
knn4_score =[]
knn5_score =[]
knn6_score =[]
knn7_score =[]
knn8_score =[]
knn9_score =[]
knn10_score =[]



# rfc2_score =[]
# rfc1_score =[]
# lr_score  =[]
# mlp_score = []

In [ ]:
for train_index, test_index in cv.split(X):
#   # print(train_index[-1])

  y_train_fold = Y[train_index[0]:train_index[-1]]
  X_train_fold = X[train_index[0]:train_index[-1]] 

  y_test_fold = Y[test_index[0]:test_index[-1]]
  X_test_fold = X[test_index[0]:test_index[-1]] 



  KNN1.fit(X_train_fold,y_train_fold)
  KNN2.fit(X_train_fold,y_train_fold)
  KNN3.fit(X_train_fold,y_train_fold)
  KNN4.fit(X_train_fold,y_train_fold)
  KNN5.fit(X_train_fold,y_train_fold)
  KNN6.fit(X_train_fold,y_train_fold)
  KNN7.fit(X_train_fold,y_train_fold)
  KNN8.fit(X_train_fold,y_train_fold)
  KNN9.fit(X_train_fold,y_train_fold)
  KNN10.fit(X_train_fold,y_train_fold)

#   # RFC2.fit(X_train_fold,y_train_fold)
#   RFC1.fit(X_train_fold,y_train_fold)
#   LG.fit(X_train_fold,y_train_fold)
#   MLP.fit(X_train_fold,y_train_fold)

  pred_KNN1=KNN1.predict(X_test_fold)
  pred_KNN2=KNN2.predict(X_test_fold)
  pred_KNN3=KNN3.predict(X_test_fold)
  pred_KNN4=KNN4.predict(X_test_fold)
  pred_KNN5=KNN5.predict(X_test_fold)
  pred_KNN6=KNN6.predict(X_test_fold)
  pred_KNN7=KNN7.predict(X_test_fold)
  pred_KNN8=KNN8.predict(X_test_fold)
  pred_KNN9=KNN9.predict(X_test_fold)
  pred_KNN10=KNN10.predict(X_test_fold)

#   pred_RFC2=RFC2.predict(X_test_fold)
#   pred_RFC1=RFC1.predict(X_test_fold)
#   pred_LG=LG.predict(X_test_fold)
#   pred_MLP=LG.predict(X_test_fold)


  accur_KNN1=accuracy_score(y_test_fold,pred_KNN1)
  accur_KNN2=accuracy_score(y_test_fold,pred_KNN2)
  accur_KNN3=accuracy_score(y_test_fold,pred_KNN3)
  accur_KNN4=accuracy_score(y_test_fold,pred_KNN4)
  accur_KNN5=accuracy_score(y_test_fold,pred_KNN5)
  accur_KNN6=accuracy_score(y_test_fold,pred_KNN6)
  accur_KNN7=accuracy_score(y_test_fold,pred_KNN7)
  accur_KNN8=accuracy_score(y_test_fold,pred_KNN8)
  accur_KNN9=accuracy_score(y_test_fold,pred_KNN9)
  accur_KNN10=accuracy_score(y_test_fold,pred_KNN10)

#   # accur_RFC2=accuracy_score(y_test_fold,pred_RFC2)
#   accur_RFC1=accuracy_score(y_test_fold,pred_RFC1)
#   accur_LG=accuracy_score(y_test_fold,pred_LG)
#   accur_MLP=accuracy_score(y_test_fold,pred_MLP)

  
# print('KNN Accuracy:', accur_KNN)
#   # print('RFC2 Accuracy:', accur_RFC2)
#   print('RFC1 Accuracy:', accur_RFC1)
#   print('LR  Accuracy:', accur_LG)
#   print('MLP  Accuracy:', accur_MLP)
#   print('##################################')


  knn1_score.append(accur_KNN1)
  knn2_score.append(accur_KNN2)
  knn3_score.append(accur_KNN3)
  knn4_score.append(accur_KNN4)
  knn5_score.append(accur_KNN5)
  knn6_score.append(accur_KNN6)
  knn7_score.append(accur_KNN7)
  knn8_score.append(accur_KNN8)
  knn9_score.append(accur_KNN9)
  knn10_score.append(accur_KNN10)

#   # rfc2_score.append(accur_RFC2)
#   rfc1_score.append(accur_RFC1)
#   mlp_score.append(accur_MLP)
#   lr_score.append(accur_LG)

ValueError: ignored

# Defining a "Random Forest" model and training it.

In [ ]:
# model = RandomForestClassifier()
# model.fit(X_train,y_train)
# y_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier()

# Printing the model performance and classification report.

In [ ]:
# accuracy_score(y_test,y_pred)

1.0

In [ ]:
# print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     11782
           1       1.00      1.00      1.00     22158
           2       1.00      1.00      1.00      7093

    accuracy                           1.00     41033
   macro avg       1.00      1.00      1.00     41033
weighted avg       1.00      1.00      1.00     41033

In [ ]:
# filename = 'randomForest.sav'
# pickle.dump(model, open(filename, 'wb'))

svm

In [ ]:

clf = svm.SVC(kernel='linear')
clf.fit(X_train,y_train)
clf_pred = clf.predict(X_test)
accuracy_score(y_test,clf_pred)

MLP

In [ ]:
# MLP = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(3, 50), random_state=1)
# MLP.fit(X_train,y_train)
# MLP_pred = MLP.predict(X_test)
# accuracy_score(y_test,MLP_pred)

0.5400043867131333

In [ ]:
# print(classification_report(y_test,MLP_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     11782
           1       0.54      1.00      0.70     22158
           2       0.00      0.00      0.00      7093

    accuracy                           0.54     41033
   macro avg       0.18      0.33      0.23     41033
weighted avg       0.29      0.54      0.38     41033

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

KNN

In [ ]:
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(X_train,y_train)
knn_pred = KNN.predict(X_test)
print(accuracy_score(y_test,knn_pred))
print(classification_report(y_test,knn_pred))

0.9722662247459362
              precision    recall  f1-score   support

           0       0.97      0.97      0.97     11782
           1       0.98      0.98      0.98     22158
           2       0.96      0.96      0.96      7093

    accuracy                           0.97     41033
   macro avg       0.97      0.97      0.97     41033
weighted avg       0.97      0.97      0.97     41033

In [ ]:
filename = 'knn.sav'
pickle.dump(KNN, open(filename, 'wb'))

logistic regression

In [ ]:
# LR = LogisticRegression()
# LR.fit(X_train,y_train)
# lr_pred = LR.predict(X_test)
# print(accuracy_score(y_test,lr_pred))
# print(classification_report(y_test,lr_pred))

0.5493627080642409
              precision    recall  f1-score   support

           0       0.48      0.30      0.37     11782
           1       0.58      0.83      0.68     22158
           2       0.32      0.08      0.13      7093

    accuracy                           0.55     41033
   macro avg       0.46      0.40      0.39     41033
weighted avg       0.50      0.55      0.50     41033

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,